<div class="card" style="width: max-width;background-color: lightgrey;">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6"><br>
        <h5 class="card-title">Nevon Foundation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Live, Contribute & Save</h6>
        <p class="card-text">We are a foundation helping the homeless, providing studies for thousands of children and also spreading awareness on donating blood.</p>
      </div>
      <div class="col-md-2"><br>
        <ul type="none">
          <li><h6 style="font-size:20px"><b>Links</b></h6></li>
          <li><a href="/" class="card-link" style="text-decoration:none;color:#5a5a5a">Home</a></li>
          <li><a href="blogs" class="card-link" style="text-decoration:none;color:#5a5a5a">Blogs</a></li>
          <li><a href="register" class="card-link" style="text-decoration:none;color:#5a5a5a">Register</a></li>
        </ul>
      </div>
      <div class="col-md-2"><br>
        <ul type="none">
          <li><h6 style="font-size:20px"><b>Connect</b></h6></li>
          <li><a href="about" class="card-link" style="text-decoration:none;color:#5a5a5a">About</a></li>
          <li><a href="contact" class="card-link" style="text-decoration:none;color:#5a5a5a;display:none;">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-2"><br>
        <ul type="none">
          <li><h6 style="font-size:20px"><b>Community</b></h6></li>
          <li><a href="signin" class="card-link" style="text-decoration:none;color:#5a5a5a">Donate</a></li>
          <li><a href="faq" class="card-link" style="text-decoration:none;color:#5a5a5a;display:none;">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>