<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #2D2123; padding:5px 5px 5px 5px">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
      <img src="/static/images/nevonLogo-nobg.png" alt="logo" width="100" height="90"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row">
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size:18px;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="blogs" style="padding:8px 45px 0px 20px;">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about" style="padding:8px 1000px 0px 20px;">About</a>
          </li>
          <li class="nav-item" style="display:none;">
            <a class="nav-link" href="contact" style="padding:8px 45px 0px 20px;">Contact</a>
          </li>
          <li class="nav-item" style="display:none;">
            <a class="nav-link" href="faq" style="padding:8px 710px 0px 20px;">FAQ</a>
          </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" style="padding:5px 15px 0px 20px;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sign In
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="signin">User</a></li>
              <li><a class="dropdown-item disabled" href="adminsignin">Admin</a></li>
            </ul>
          </li>-->
        </ul>
        <form class="d-flex" action="funcsignouts">
          <button type="submit" class="btn btn-danger">Sign Out</button>
        </form>
      </div>
    </div>
  </div>
</nav>
