{% extends 'Index.html' %}
{% block content %}
<head>
  <style>
      p,ul,li {
        font-size:20px;
      }
      h4 {
        font-size:35px;
        color:#2D2123;
      }
      h2 {
        font-size:38px;
      }
  </style>
</head>
<br>
<div style="margin:20px;">
<div class="row">
  <div class="col-md-10">
  <h2>What is Apheresis</h2><br>
  <h4>Terminology</h4><hr>
  <p>Apheresis is a medical technology in which the blood of a person is passed through an apparatus that separates out one particular constituent and returns the remainder to the circulation. It is thus an extracorporeal therapy. One of the uses of apheresis is for collecting stem cells.</p>
  </div>
</div><br>
<div class="row">
  <div class="col-md-10">
  <h4>Method</h4><hr>
  <p>Depending on the substance that is being removed, different processes are employed in apheresis. If separation by density is required, centrifugation is the most common method. Other methods involve absorption onto beads coated with an absorbent material and filtration. The centrifugation method can be divided into two basic categories:</p>
    <h6><b>Continuous flow centrifugation</b></h6>
    <p>Continuous flow centrifugation (CFC) historically required two venipunctures as the "continuous" means the blood is collected,
      spun, and returned simultaneously. Newer systems can use a single venipuncture by pooling blood in a vessel and cycling through
      drawing and returning blood though the needle while the centrifuge continuously processes blood remaining in the vessel.
      The main advantage of this system is the low extracorporeal volume (calculated by volume of the apheresis chamber,
      the donor's hematocrit, and total blood volume of the donor) used in the procedure, which may be advantageous in the elderly
      and for children.</p>
    <h6><b>Intermittent flow centrifugation</b></h6>
      <p>Intermittent flow centrifugation (IFC) works in cycles, taking blood, spinning/processing it and then giving back the unused parts to the donor in a bolus. The main advantage is a single venipuncture site. It does require a larger extracorporeal volume, and takes significantly longer to perform the procedure via IFC. As such, it is less likely to be used for therapeutic reasons, and is often seen in Donation Center settings. To stop the blood from coagulating, anticoagulant is automatically mixed with the blood as it is pumped from the body into the apheresis machine.</p>
    <h6><b>Centrifugation variables</b></h6>
    <p>The centrifugation process itself has four variables that can be controlled to selectively remove desired components. The first is spin speed and bowl diameter, the second is "sit time" in centrifuge, the third is solutes added, and the fourth is not as easily controllable: plasma volume and cellular content of the donor. The end product in most cases is the classic sedimented blood sample with the RBCs at the bottom, the buffy coat of platelets and WBCs (lymphocytes/granulocytes, PMNs, basophils, eosinophils/monocytes) in the middle and the plasma on top.</p>
  </div>
</div><br><br>
<div class="row">
  <div class="col-md-9">
    <h4>Therapy</h4><hr>
      <p>The various apheresis techniques may be used whenever the removed constituent is causing severe symptoms of disease. Generally, apheresis has to be performed fairly often, and is an invasive process. It is therefore only employed if other means to control a particular disease have failed, or the symptoms are of such a nature that waiting for medication to become effective would cause suffering or risk of complications.</p>    <p>Physical Examination and some blood tests might be taken to check for any other bloodborne infections. Because of the risk of bloodborne infections, not everyone can donate blood. </p>
      <ul>
        <li>Plasma exchange – removal of the liquid portion of blood to remove harmful substances. The plasma is replaced with a replacement solution.</li>
        <li>LDL apheresis – removal of low density lipoprotein in patients with familial hypercholesterolemia.</li>
        <li>Lipoprotein(a) (Lp(a) apheresis</li>
        <li>Photopheresis – used to treat graft-versus-host disease, cutaneous T-cell lymphoma, and rejection in heart transplantation.</li>
        <li>Immunoadsorbtion with Staphylococcal protein A-agarose column – removal of allo- and autoantibodies (in autoimmune diseases, transplant rejection, hemophilia) by directing plasma through protein A-agarose columns. Protein A is a cell wall component produced by several strains of Staphylococcus aureus which binds to the Fc region of IgG.</li>
        <li>Leukocytapheresis – removal of malignant white blood cells in people with leukemia and very high white blood cell counts causing symptoms.</li>
        <li>Erythrocytapheresis – removal of erythrocytes (red blood cells) in people with iron overload as a result of Hereditary haemochromatosis or transfusional iron overload</li>
        <li>Thrombocytapheresis – removal of platelets in people with symptoms from extreme elevations in platelet count such as those with essential thrombocythemia or polycythemia vera.</li>
      </ul>
    <br>
  </div>
    <div class="col-md-3" >
        <img src="/static/images/apheresismachine.jpg" width="300" height="250" style="padding-top:20px;margin-left:20px;">
        <p style="text-align:center;font-size:18px;">Apheresis Machine</p><br><br><br>
        <img src="/static/images/apheresistypes.jfif" width="300" height="250" style="padding-top:20px;margin-left:20px;">
        <p style="text-align:center;font-size:18px;">Broad use of Apheresis</p>
  </div>
</div>
<div class="row">
    <div class="col-md-9">
      <h4>Components separated</h4><hr>
      <p>The different components of blood that can be separated include:</p>
    <ul>
      <li>Red blood cells</li>
      <li>Platelets</li>
      <li>Plasma</li>
      <li>White blood cells</li>
      <li>Lipoproteins</li>
    </ul>
      <p>Plasma contains antibodies (immunoglobulins) and clotting factors, which are sometimes separated from plasma.</p>
    <h4>Conclusion</h4><hr>
      <ul>
        <li>Donation & Therapeutic Apheresis is safe and easy effective methods to be used when needed.</li>
        <li>A well trained and experienced team can overcome the technical difficulties in order to complete the procudures without complications</li>
        <li>Policy and Procedure of Donor Apheresis and Therapeutic Apheresis should be in place.</li>
      </ul>
    </div>
</div>
</div><br><br>
{% endblock %}