{% extends 'Index.html' %}
{% block content %}
<head>
  <style>
      p,ul,li {
        font-size:20px;
      }
      h4 {
        font-family: Arial, Helvetica, sans-serif;
        font-size:35px;
      }
      h2 {
        font-size:38px;
      }
  </style>
</head>
<br>
<div class="col-md-10">
<h2 >Why Should I Donate Blood</h2>
<br>
<h4>Overview</h4><hr>
<p>Safe blood saves lives. Blood is needed by women with complications during pregnancy and childbirth, children with severe anaemia, often resulting from malaria or malnutrition, accident victims and surgical and cancer patients.</p>
<p>There’s no end to the benefits of donating blood for those who need it. According to the American Red Cross, one donation can save as many as three lives, and someone in the United States needs blood every two seconds.</p>
<p>There is a constant need for a regular supply of blood because it can be stored only for a limited period of time before use. Regular blood donation by a sufficient number of healthy people is needed to ensure that blood will always be available whenever and wherever it is needed.</p>
<br>
<h4>Benefits</h4><hr>
<p>Donating blood has benefits for your emotional and physical health. According to a report by the Mental Health Foundation, helping others can:</p>
<ul>
  <li>reduce stress</li>
  <li>provide a sense of belonging and reduce isolation</li>
  <li>improve your emotional well-being</li>
  <li>benefit your physical health</li>
  <li>help get rid of negative feelings</li>
</ul>
<br>
<h4>Things to know before donating blood</h4><hr>
<p>Here are some important things to know before you donate:</p>
<ul>
  <li>You need to be 17 or older to donate whole blood. Some states allow you to donate at 16 with parental consent.</li>
  <li>You have to weigh at least 110 pounds and be in good health to donate.</li>
  <li>You need to provide information about medical conditions and any medications you’re taking. These may affect your eligibility to donate blood.</li>
  <li>Platelet donations can be made every 7 days, up to 24 times per year.</li>
  <li>You must wait at least 8 weeks between whole blood donations and 16 weeks between double red cell donations.</li>
</ul>
<p>The following are some suggestions to help you prepare for donating blood:</p>
<ul>
  <li>Drink an extra 16 ounces of water before your appointment.</li>
  <li>Eat a healthy meal that’s low in fat.</li>
  <li>Wear a short-sleeved shirt or a shirt with sleeves that are easy to roll up.</li>
</ul>
<p>Let the staff know if you have a preferred arm or vein and if you prefer to sit up or lie down. Listening to music, reading, or talking to someone else can help you relax during the donation process.</p>
<br>
<h4>Conclusion</h4><hr>
<p>Blood is the most precious gift that anyone can give to another person – the gift of life. A decision to donate your blood can save a life, or even several if your blood is separated into its components – red cells, platelets and plasma – which can be used individually for patients with specific conditions.</p>
</div>
<br><br>
{% endblock %}